<div class="custom-icon-list">
  <div class="icon-list d-flex">
    <div class="list-wrapper">
      <div class="image_wrapper"><img data-src="{{ 'icon1.png' | asset_img_url: '300x' }}" class="lazyload"></div>
      <div class="list-title">100% Made in the USA</div>
    </div>
    <div class="list-wrapper">
      <div class="image_wrapper"><img data-src="{{ 'icon2.png' | asset_img_url: '300x' }}" class="lazyload"></div>
      <div class="list-title">FREE Shipping over $99</div>
    </div>
    <div class="list-wrapper">
      <div class="image_wrapper"><img data-src="{{ 'icon3.png' | asset_img_url: '300x' }}" class="lazyload"></div>
      <div class="list-title">Highest Quality Materials</div>
    </div>
  </div>
</div>